.result {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.result  li {
  display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	align-items: center;
	margin: 2%  2% 0 0;
	outline: solid 1px #eee;
}
